<%
# param @post 
# param @url - url to mp4
%>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>
	var VIDEO_URL = "<%=@url%>";
</script>
<title>Wevr Player</title>
<link rel="stylesheet" href="./css/styles.css" />
</head>
<body>

	<div id="container"></div>

    <!-- N.B.: skip caption for now, TBD. --TP

	<div id="caption_label" class="caption">Prometheus</div>
	-->

	<div id="player_controls" class="control"></div>


	<script src="/xassets/vendor/webplayer/libs/three.js.r73/three.js"></script>
	<script src="/xassets/vendor/webplayer/libs/three.js.r73/OrbitControls.js"></script>
	<script src="/xassets/vendor/webplayer/libs/requestAnimationFrame/RequestAnimationFrame.js"></script>
	<script src="/xassets/vendor/webplayer/js/wevr.js?v01"></script>
	<script src="/xassets/vendor/webplayer/js/player.j?v01s"></script>
    <script src="/xassets/vendor/webplayer/js/app.js?v01"></script>


</body>
</html>